#a{
    background-color: rgb(16, 135, 135);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    height: 50%;
    border: 5px;
    border-radius: 30%;
}

#b{
    background-color: rgb(12, 116, 235);
    font-weight: bold;
}

span {color:red; font-size: 20px;}