<!DOCTYPE html>
<html>
<title> team </title>
<head>
    <link href="../static/css/team.css" rel="stylesheet" type="text/css">

<body bgcolor= "#646E61">
<br><br>
<div style="text-align : center;">
    <h1>거북이<img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA2MjNfMTkx%2FMDAxNTkyODkyMDQ0NzYy.IusHeOBu6nkMU80XWcm0Xsoh5dz8BinSDaDigjHNgw0g.P-yDjx070FyYnDTXiL_8sOzH9WWFD_d_LgTSU-VyZDsg.PNG.topcareamc%2FKakaoTalk_20200623_133129226.png&type=sc960_832"
        style="width:40px; height:40px;">  </h1>
        
        <hr>

   <center> <div id="name">
        김성훈
        손지현
        이아름
        임도영
        한수아</a>
   </center>  </div>
   <br><br><br><br>
</head>
<body>
    <br><br><br><br>


    <table> <table style="margin-left: auto; margin-right: auto;">
        <tr>
         <td><a href="seonghun"><img alt="김성훈" src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjg1/MDAxNjczNTg4OTQxOTUw.tmQcPS4LmNqXInvjmCU5g8I4UVAf6Or6v40cAU63_Vkg.F6OgPVizvMc0f-znbBY4n3zc4l-FqrQncPcI0m55zIwg.PNG.ehdud1357/%EC%9E%A0%EB%A7%8C%EB%B3%B4.png?type=w773"  width="150px;" height="150px"/> <br><br><center><b>김성훈 </b><br><p style="font-size:13px;">  집에가고싶은사람 <br> INTP, 돈 </p>
         </a>
        </td><td>
            <a href="jihyun">
            <img alt="손지현" src="https://postfiles.pstatic.net/MjAyMzAxMTNfMTUz/MDAxNjczNTg4NjUzMjE5.MomOt0QPJU0kJZF9ZCFMh0dUg5xJ7JdCM5dlrq2sSiwg.nP7xf96QynR6GzU627iu51VgMU-CnCPi3hI4Imo7mmUg.PNG.ehdud1357/KakaoTalk_20230113_130329333.png?type=w773"  width="150px;" height="150px" /> <br><br><center><b>손지현 </b><br><p style="font-size:13px;"> 집순이,ISTP, <br>고양이, 통계, 겨울 </p>
            </a>
        </td><td>
            <a href="about_rumi">
            <img alt="이아름" src="https://postfiles.pstatic.net/MjAyMzAxMTNfNjYg/MDAxNjczNTg4NjUzMjQx.kXkfQn6gQ_afO7H6kDGTxx1N4W8rzOg0Kb6HKuoQezgg.RK-uuIFWJ06o-AkNHa5R3qmX7J96MoQ8QzlIvGAL02Eg.PNG.ehdud1357/%EC%95%84%EB%A6%84.png?type=w773" width="150px;" height="150px" /><br><br><center><b>이아름 </b><br><p style="font-size:13px;">  레제흐멍,INFP,<br>맥주,서비스기획자 </p>
            </a>
            </td><td>
        </td> 
        </tr>
    </table>
    <br></br><br>
    <table> <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>
            <a href="limdoyoung">
            <img alt="임도영" src="https://postfiles.pstatic.net/MjAyMzAxMTNfNzgg/MDAxNjczNTg4NDE5NDE3.gsPX__hpRX5pQ2Tpq3-tc7E2x_STD3OKd5JxUdOI3_gg.SqVFCNpP372iahFc0OgKw0eDd4zo_55e1WA0zSPiEWog.JPEG.ehdud1357/73E0BE27-A013-4675-9626-5B5EAD286FD1.jpeg?type=w773"  width="150px;" height="150px"/> <br><br><center><b>임도영 </b><br><p style="font-size:13px;">  골든도토리,ESFJ <br> 프로계획러  </p>
            </a>
            </td>
        <td>
            <a href="hansua">
            <img alt="한수아" src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjU0/MDAxNjczNTg4NjUzMzA2.6GgCJ5yfShn9EwNizJlgWahsNZi2KChxqrZ92-ij4dQg.BPM5JceD4aeB_zlpBIaGiGpvgyBAXA5yFIJz7TUXsjIg.JPEG.ehdud1357/%ED%95%9C%EC%88%98%EC%95%84.jpg?type=w773"  width="150px;" height="150px" /> <br><br><center><b>한수아 </b><br><p style="font-size:13px;"> 스릴러 영화,ISFP, <br>강아지,바다 </p>
            </a>
        </td><td>

        </td> 
        </tr>
    </table>

        
  
</body>
</html>