<!-- #웹문서 전체 또는 일부에 관련 언어를 지정하는 속성 -->

<DOCTYPE html>

<html> 

<!--언어-->
<html lang="ko">


  <head>
<!--한글표시로 문서시작-->
    <meta charset="UTF-8">

   
    <title> LIM DO-YOUNG </title>
    <body bgcolor= "#FAEBF9">
  </head>

  <body>
    <nav><a href='http://127.0.0.1:8000/blog/'>Home</a></nav>
<br>
<!--안쪽여백,외관여백-->
<div style="padding: 0.2em ; margin: 0.2em 10px; font-weight: bold; color: #565656; background: #071910; box-shadow: 3px 3px 2px 6px #ffeaea; border: dashed 2px #FE2E2E; border-radius: 5px;">
 <center><u><p style="font-size:40px;"> <span style="color:white"><b> LIM DO-YOUNG</u></span>  (<span style="color: #FB3D09;"> 임 </span> <span style="color: #FA8804;">도 </span> <span style="color: #B963FA;"> 영 </span>)</center></b>
</p> </div>
 <br>
        <!--점선-->
        <hr style="border:#FD67B0 2px dashed">
        <hr style="border:#F4ABF1 2px dashed">
        <hr style="border:#FAE4F9 2px dashed">
        <hr style="border:#F6EEF5 2px dashed">



    <br><br><br><br>

<!--목차-->   
<div style="padding: .43em 0em .35em .7em; margin: 2em 0; font-weight: bold; color: #232323; background: #F8E8FF; border-left: solid 10px #8A66AE;">
            <p><h4><strong>목차</strong></h4></P> </div>

            <ol>
                    <li><a href="#book1"></li> 기본소개
                    <li><a href="#book2"></li> MBTI
                    <li><a href="#book3"></li> 취미 및 특기
                    <li><a href="#book4"></li> 앞으로의 목표
            <ol/>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- 기본소개-->
<br></br><br>
<a id="book1"></a><li><b> 기본소개 </b><br>
    <table border ="1">
        <tr><td>
            <!--figure: 그림,사진,텍스트를 하나로 묶어서 독립된 단위로 사용-->
            <figure>
                 ♥ 두 마리 고양이 집사 ♥ </br>
                <hr></hr>
                 <table><tr>
                    <td><img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMTM5/MDAxNjczNTgxODM2ODQx.pi9GuIH_6wCKHUfmgmtuDR6XDrVNi3P3g6CZHyIH-74g.ZL4KopcaLk7od41r9xYblpoIxsAxcdkccjataZLkw_wg.JPEG.ehdud1357/1.jpg?type=w773" alt="북꾹" width="300"></td>
                    <td><img src="https://postfiles.pstatic.net/MjAyMzAxMTNfNjUg/MDAxNjczNTgxODM2ODU0.NqzN7_UpkXP7pNTPJxVlVN2JaQWDymb6St2qkIzpo0Ig.xohokZfa6HGse5wfzy-pDGBYTh9LosIPgdWDuWOwFkwg.JPEG.ehdud1357/2.jpg?type=w773" ale="남꾹" width="300"></td>
                    </tr>
                </table>
            </figure>
            <ul>
                <li> 자유자재로 코드를 다루며 결과를 만들어내는 것에 매력을 느낌  </li>                
                <li> 사무자동화산업기사,컴퓨터활용능력1급,한국사2급,정보처리기사 필기(실기 곧 칠예정)</li>
                <li> 나를 한마디로 표현한다면 ? 인간볕뉘 </li>
                
            </ul> <br>
        </td></tr>
        <br><br>
    </table>

 <!-- 성격 -->   
<br></br><br>
<a id="book2"></a><li><b> 성격 & MBTI </b></li> <br>
    <table border ="1">
        <tr><td>
            <figure>
                <table><tr>
                    <td><img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMTQ3/MDAxNjczNTgxODM2ODMz.zEXE3IZ8CFKnaKnjCf76FlfC6Y8xO7ppenLRWoMeE8Ig.ijetNSNU1oe12nl1AxBYfLxb2C7yZQpWwRNFUnK1bZUg.PNG.ehdud1357/MBTI.PNG?type=w773" alt="ESFJ" width="600"></td>
                </tr>
            </table>
        </figure>
        <ul>
            <li><h4> MBTI : ESFJ-T </h4> </li>
            <li> 계획을 세우고 이뤄가는 걸 좋아하고, 구김살없이 긍정적인 성격 <li>
        </ul>
    </td></tr>
</table>

<!-- 취미 및 특기 -->
<br></br><br><br>
<a id="book3"></a><li><b>취미 및 특기</b></li> <br>
    <table border="1">
        <tr><td>
            <ul>
                <li> 취미 : 좋아하는 문장 메모장에 기록하면서 책 읽기, 필름카메라,폴라로이드 사진찍으러 가기      </li>
                <li> 특기 : 길 외우기 </li>
            </ul>
        </tr></td>
    </table>


<!--앞으로의 목표-->
<br></br><br><br>
<a id="book4"></a><li><b>앞으로의 목표 </b></li> <br>
    <table border="1">
        <tr><td>
            <ul>
                <li> 점프 투 파이썬 완벽히 숙지하기 </li>
                <li> 상반기 자격증 <span style="color:red;"> 3개 </span> 취득하기   </li>
                <li> 관심있는 분야 찾아보기 </li>

                

            </ul>
        </tr></td>
    </table>
    <br><br><br><br><br>

    <hr style="border:#F6EEF5 2px dashed">
    <hr style="border:#FAE4F9 2px dashed">
    <hr style="border:#F4ABF1 2px dashed">
    <hr style="border:#FD67B0 2px dashed">

</body>
</html>



