<!DOCTYPE   html>
<html lang="ko">
    <head><meta charset="UTF-8">
        <title>Blog</title>
    </head>
    <body>
        <nav><a href='http://127.0.0.1:8000/blog/'>Home</a></nav>
        <div style="background-color:rgb(111, 131, 212)">
            <h2>Team homepage</h2>
        </div>
        
        <div class="card mb-4">
            <img class="card-img-top" src='https://item.kakaocdn.net/do/3eedc49db96d50f65e5af0aafec27ff0effd194bae87d73dd00522794070855d' alt="Card image cap">
        </div>
        <div style="width:23%; height:500px;float:right">
            <div style="width:100%; height:50px;">
                <hr style="width : 100%; height : 4px; 
                background-color : black;  border : 0;">
                프로젝트
            </div>

                
            </div>
        </div>
        <div style="width:75%; height:110px; float:left">
            <div style="width:20%; height:50px; float:left">
                <hr style="width : 100%; height : 4px; 
                background-color : black;  border : 0;">
                인적사항
            </div>
            <div style="width:78%; height:50px; border:3px; float:right">
                <hr style="width : 100%; height : 4px; 
                background-color : black;  border : 0;">
                성명  김성훈<br>
                생년월일 980929<br>
                E-mail hoon3747@gmail.com<br>
            </div>
        </div>
        <br>
        <div style="width:75%; height:85px;float:left">
            <div style="width:20%; height:50px; float:left">
                <hr style="width : 100%; height : 1.5px; 
                background-color : black;  border : 0;">
                자격증
            </div>
            <div style="width:78%; height:50px; border:3px; float:right">
                <hr style="width : 100%; height : 1.5px; 
                background-color : black;  border : 0;">
                2021.09.24    -  Adsp<br>
                2022.06.24    -  Sqld<br>
                2022.12.23    -  빅분기
            </div>
        </div>
        <div style="width:75%; height: 100px;float:left">
            <div style="width:20%; height:50px; float:left">
                <hr style="width : 100%; height : 4px; 
                background-color : black;  border : 0;">
                Skill
            </div>
            <div style="width:78%; height:50px; border:3px; float:right">
                <hr style="width : 100%; height : 4px; 
                background-color : black;  border : 0;">
                python<br>
                MySql <br>
            </div>
        </div>
        <div style="width:75%; height:85px;float:left">
            <div style="width:20%; height:50px; float:left">
                <hr style="width : 100%; height : 1.5px; 
                background-color : black;  border : 0;">
                포트폴리오
            </div>
            <div style="width:78%; height:50px; border:3px; float:right">
                <hr style="width : 100%; height : 1.5px; 
                background-color : black;  border : 0;">
                <button type="button" onclick="window.open('https://www.notion.so/d0b1a766557c4851ac7ebb34a81cd440')">Notion</button><br>
                <button type="button" onclick="window.open('https://github.com/CieData')">Github</button><br>
            </div>
        </div>
        <div style="width:75%; height:110px;float:left">
            <div style="width:20%; height:50px; float:left">
                <hr style="width : 100%; height : 1.5px; 
                background-color : black;  border : 0;">
                노력중인 것
            </div>
            <div style="width:78%; height:50px; border:3px; float:right">
                <hr style="width : 100%; height : 1.5px; 
                background-color : black;  border : 0;">
                코딩 -
                <button type="button" onclick="window.open('https://www.acmicpc.net/user/ciea1973')">백준</button>
                <button type="button" onclick="window.open('https://career.programmers.co.kr/pr/hoon3747_6840')">프로그래머스</button><br>
                SQL - 
                <button type="button" onclick="window.open('https://www.hackerrank.com/domains/sql')">Hackerrank</button><br>
                데이터 분석 -
                <button type="button" onclick="window.open('https://dacon.io/')">데이콘</button><br>
                자격증 - 정보처리기사
            </div>
        </div>
        <br>
        <br>
        <div style="width:75%; height:85px;float:left">
            <div style="width:20%; height:50px; float:left">
                <hr style="width : 100%; height : 4px; 
                background-color : black;  border : 0;">
                간단 소개
            </div>
            <div style="width:78%; height:50px; border:3px; float:right">
                <hr style="width : 100%; height : 4px; 
                background-color : black;  border : 0;">
                
            </div>
        </div>
        
        <!-- <div style="width:80%; height:5px;float:left">
            <div style="width:20%; height:10px; float:left">
                <hr style="width : 100%; height : 5px; 
                background-color : black;  border : 0;">
            </div>
            <div style="width:78%; height:10px; border:3px; float:right">
                <hr style="width : 100%; height : 5px; 
                background-color : black;  border : 0;">
            </div>
        </div> -->

        
        
    </body>
</html>