<!DOCTYPE html>

<html>
    <head>
        <title>취업을 위한 노력</title>
        <link href="style_effort.css" rel="stylesheet" type="text/css">
    </head>
    <body>
<h1><취업 준비 활동></h1>
    <div class="activity">
    <h2>대외활동 (~2022년)</h2><br>
        <p>
            <h3>SK Forest 서포터즈 2기</h3>
                <a href="https://instagram.com/forest_._echo?igshid=YmMyMTA2M2Y="></a>
                    <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfNzYg/MDAxNjczNTgxMzU1ODg1.AjGC3StjSW101mF2KnZ96NVijo8Sxlqq7awjBFTiKYQg.zjxImcOqwXl5nZeXr-B2prGtmaHT3WZF1UdMYeqVSqcg.JPEG.hsabest/KakaoTalk_20230113_023844761_09.jpg?type=w773" width="45%">
                </a>
                <a href="https://instagram.com/forest_._echo?igshid=YmMyMTA2M2Y=">
                    <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjA5/MDAxNjczNTgxMzU1ODUz.V0sG8SzEwvv-ZRmv2SdqclN3F2fY2ELFNXFoxmmTvLwg.PKoiRgmPBAXaRFUHCHIwF3bwe_l2R8FimC0BkZEBvHgg.JPEG.hsabest/KakaoTalk_20230113_023844761_08.jpg?type=w773" width="25%">
                </a>
            <h4>-우수 활동팀 선정</h4>
    </div>
        </p>
        <hr>
        <div class="activity_2">
            <h3>대구 수목원 인턴 수료</h3>
                <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjg4/MDAxNjczNTgxMzU2MjU4.8oqJKm_xjuMf3U0wjLhkt7eYM6RmSoNLCLW505QVwIQg.i9z5sg1AmvW6v4DBjMhQdynpHRTGuLOYRJeRScJNicwg.JPEG.hsabest/KakaoTalk_20230113_023844761_14.jpg?type=w773" width="45%">
            </div>            
            <hr>
            <table border="1" width="80%">
                <thead>
                    <tr>
                        <th>과거: 전공 및 자격증 공부</th>
                        <th>현재: 파이썬 및 판다스 복습</th>
                        <th>미래: 빅데이터 분석 관련 포트폴리오 준비</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul>
                                <li>산림기사 자격증 취득</li>
                                <li>한국사 1급 자격증 취득</li>
                                <li>토익 시험 응시</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>파이썬 개념 복습</li>
                                <li>판다스 데이터 시각화 연습</li>
                                <li>공공데이터 통계자료 분석</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>정보처리기사 시험 응시</li>
                                <li>빅데이터 공모전 출전</li>
                                <li>나만의 포트폴리오 준비</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </body>