<!DOCTYPE html>

<html>
    <head>
        <title>빅데이터 분석 관련 관심 분야</title>
    </head>
    <body>

<h1 id="d">빅데이터 분석 관련 관심 분야</h1>
<hr>
<h2>산림 빅데이터 거래소</h2>          
<iframe src="https://www.bigdata-forest.kr/frn/index" width='100%' height='500px'></iframe>
<h4>
-현재 임업진흥원은 산림데이터를 필요로 하는 민간 수요자들이 편리하게 이용할 수 있도록 산림빅데이터 거래소를 통해 다양한 빅데이터 자료를 개방하고 있음
<br>
-이를 이용하여 산림휴양/복지, 산림자원관리, 산림재해안전 관련 데이터 등 산림에 관한 데이터를 구축하고 분석하고자 함
</h4>
<hr>
<h2>관련 대회 및 공모전</h2>
<p>
<img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjg3/MDAxNjczNTgxMzU1ODE1.K1aZECyi2jxOADfLn1sswmQzgX0_0UX8AoHgdH4YQJog.AwbuZadn-nGtqpkt8NUvCesnxkt5xaJjP756r7MpVfMg.JPEG.hsabest/2022_bigdata.jpg?type=w773" width="45%">
<img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMTIy/MDAxNjczNTgxMzU1MzE5.ie2N3KRZvyKgMMDuqoP8wmaY4rURtX7FzWrehIjOsWEg.W-nRitGnwpkymRSP3PkndmgUb1ybDQIPIGjsuT8EqdMg.JPEG.hsabest/20221227_01110203000001_L00.jpg?type=w773" width="45%">
</p>
<h4>산림공공.빅데이터 활용 창업경진대회 및 공모전 참가로 실전 경험을 쌓는 것이 목표</h4>
</body>