<!DOCTYPE html>

<html>
    <head>
        <title>취미</title>
        <link href="D:\GIT_REPOSITORY\html\style_hobby.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>취미: 벽화 봉사 활동</h1>
        <hr>
        <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMTM5/MDAxNjczNTgxMzU1OTQ0.RLzkoezCXBCIDqaKCGY8hbv-289mo1XX81KmELb0iwIg.eBMeRf40KjAoTN1DnlpTrnGzNgzt5h8CKvEWCsShL7Ig.JPEG.hsabest/KakaoTalk_20230113_023844761_11.jpg?type=w773" width="60%"><br>
        *벽화 봉사 동아리 활동<br>
        <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMTc5/MDAxNjczNTgxMzU1MzUx.m062wVFUJNmbBcxUHXueeBZOH_1rGKsoIokBgOcAbyMg.2Lp-36efOOUQsaFU6GokulhcuSnuuq7xZIMgbfFObR0g.JPEG.hsabest/KakaoTalk_20230113_023844761_01.jpg?type=w773" width="600px"><br>
        -대구 북구 구수산 도서관 벽화 봉사 참여<br>
        <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjU2/MDAxNjczNTgxMzU1MzUx.fuWz-hPYzGJdveNRwFXsCGJ2U71ZYSi7vwQjv-qx6pMg.qZ3YocpF-x_-Z42At5jf5yio2yIQ7IZH1c9L5LVm100g.JPEG.hsabest/KakaoTalk_20230113_023844761_02.jpg?type=w773" width="600px"><br>
        -경산 삼성현역사문화공원 벽화 봉사 참여<br>
        <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjMx/MDAxNjczNTgxMzU1ODIy.9lHX8hM7PRHZS8cBc87uITFNcGy2Gs_wqMp2drLlMhsg.rWDtYpv8p02Dr4pyoIcnU16JL9XWx9ftXfKjUNT6s9og.JPEG.hsabest/KakaoTalk_20230113_023844761_05.jpg?type=w773" width="600px"><br>
        -대구여자단기청소년쉼터 옥상 벽화 봉사 참여<br>
        <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMjI2/MDAxNjczNTgxMzU1ODIy.ihR1FnwqrvEvMSAoQT_weEdFHWPxNuT6yuG7FoqkpSQg.mEn1RFu-9zGSQP_NBe9xsdJsr-bnGZz8Uc6gZrktCOcg.JPEG.hsabest/KakaoTalk_20230113_023844761_07.jpg?type=w773" width="600px"><br>
        -경북대학교 백호관 실내 벽화 봉사 참여<br>

    </body>