<!DOCTYPE html>
<html>
    <head>
        <title>mbti</title>
    </head>
    <body>
        <h1>MBTI: ISFP</h1>
        <hr>
        <img src="https://postfiles.pstatic.net/MjAyMzAxMTNfMTMy/MDAxNjczNTgxMzU1Mjk2.iiU7rqlbwZjt2ogwPoklo6GMQs6m-ChIJ8UBrSGFabUg.DpYCkrdOeB0QUSiIbTBV5RsRyqjYlfQZuBwB_BagBqMg.JPEG.hsabest/20211218_121223.jpg?type=w773" width="30%">
        
        <h3>ISFP의 특징</h3>
        <ul>
            <li>집에 있는 것을 좋아함</li>
            <li>의견 충돌을 피하고, 인화를 중시</li>
            <li>문학, 음악, 미술 분야에 관심</li>
        </ul>
    </body>
</html>